# Android
android/.gradle/
android/build/
android/app/build/
android/app/google-services.json
android/local.properties
*.iml
.idea/

# Web
node_modules/
.env
.env.local

# Vercel
.vercel/

# OS
.DS_Store
Thumbs.db
